{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Home</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'acmproject/js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'acmproject/js/jquery.dropotron.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'acmproject/js/jquery.scrollgress.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'acmproject/js/jquery.scrolly.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'acmproject/js/jquery.slidertron.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'acmproject/js/skel.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'acmproject/js/skel-layers.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'acmproject/js/init.js' %}" type="text/javascript"></script>

		<link rel="stylesheet" href="{% static 'acmproject/skel.css' %}" />
		<link rel="stylesheet" href="{% static 'acmproject/style.css' %}" />
		<link rel="stylesheet" href="{% static 'acmproject/style-xlarge.css' %}" />
		
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<nav id="nav">
					<ul>
						<li><a href="{% url 'HomePage' %}">Home</a></li>
						<li><a href="{% url 'Frequency' %}">Statistics</a></li>
						<li><span style="color: #000000; font-weight: bold"> <a href="{% url 'test_home' %}">Take the test</a></span></li>
					</ul>
				</nav>
			</header>


			<section id="banner">
				<div class="inner">
					<h2>MentalHelp+</h2>
					<p>It's okay not to be okay.</p>
					<ul class="actions">
						<li><a href="#one" class="button big scrolly">Learn More</a></li>
					</ul>
				</div>
			</section>

			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Importance of mental health</h2>
						<p>Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act.<br />
							It also helps determine how we handle stress, relate to others, and make choices.<br />
							Mental health is important at every stage of life, from childhood and adolescence through adulthood.<br />
							Mental health problems are common but help is available.</p>
					</header>
						</div>

				<div class="container">
					<header class="major">
						<h2>About us</h2>
						<p>We're a group of graduate students who've created a test to identify the level at which one's mental health has deteriorated<br />
							in order to help people understand the negative impact on their mental health and get professional help for the same.<br /><br />
							This quiz is NOT a diagnostic tool. Mental health disorders can only be diagnosed by a licensed mental health professional or doctor.</p>
					</header>
				</div>
			</section>

			<section id="cta" class="wrapper style3">
				<h2>Take our mental health quiz now.</h2>
				<ul class="actions">
					<li><a href="{% url 'test_home' %}" class="button big">Get started</a></li>
				</ul>
			</section>

	</body>
</html>